div
{
  position:relative;
    display: inline-block;
    margin:0 300px;
    padding:0 90px;
    height:40px;
  

}
body
{
 background: url("N1.jpg");
}
a
{
font-size:1.3em;
color:white;
text-decoration:none;
}