h1,h2
{
color:white;
}
body
{
 background-color:lightgreen;

}
a
{
font-size:1.3em;
color:white;
text-decoration:none;
}
img
{
 margin:0 120px;
 padding:0 75px;
  height:250px;

}