h1,h2
{
color:white;
}
body
{
 background-image: url("W2.jpg");

}
a
{
font-size:1.3em;
color:white;
text-decoration:none;
}
img
{
 margin:0 120px;
 padding:0 75px;
  height:650px;
width:800px

}
label,input
{
margin:0 50px;
padding:0 15px;
}